.git
.github
.gradle
.omx
.DS_Store
**/.terraform
*.tfstate
*.tfstate.*
build/*
!build/libs/
!build/libs/aim-be.jar
out
.idea
.vscode
*.iml
HELP.md
cloudbuild.yaml
docker-compose.yml
gha-creds-*.json
docs
infra
src/main/resources/application-local.yml
src/main/resources/application-prod.yml
src/main/resources/firebase/*.json
