.git
.github
.gradle
.omx
**/.terraform
*.tfstate
*.tfstate.*
build
out
.idea
.vscode
*.iml
HELP.md
docker-compose.yml
gha-creds-*.json
src/main/resources/application.yml
src/main/resources/application-*.yml
src/main/resources/firebase/*.json
