HELP.md
.gradle
build/
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

src/main/resources/firebase/ajou-project-cafd9-firebase-adminsdk-fbsvc-e6d8a32d57.json
src/main/resources/application-local.yml

docker-compose.yml
gradlew
gradlew.bat
gradle/

src/test/

# Google GitHub Actions temporary credentials
gha-creds-*.json
